base: &base
  adapter: postgresql
  encoding: utf8
  host: localhost
  username: postgres
  pool: 1
  wait_timeout: 5
  # Minimum log levels, in increasing order:
  #   debug5, debug4, debug3, debug2, debug1,
  #   log, notice, warning, error, fatal, and panic
  # Defaults to warning.
  #min_messages: notice

development:
  <<: *base
  database: help_explain_development

test:
  <<: *base
  database: help_explain_test

production:
  <<: *base
  database: help_explain_production

main:
  <<: *base
  database: vmdb_development
