// Place all the styles related to the queries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.severe-query {
  font-weight: bold;
}

.has-details {
  border-bottom: 1px #999 dotted;
}

.high-significance {
  color: #fff;
  background-color: #800;
}

.medium-significance {
  color: #fff;
  background-color: #e80;
}

.low-significance {
  background-color: #fe8;
}

.type-image {
  width: 25px;
}
