<table class="treeable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actual</th>
      <th>Cost</th>
      <th title="actual / estimate">rows x</th>
      <th>rows</th>
      <th>width</th>
      <th>loops</th>
      <th>notes</th>
    </tr>
  </thead>
  <tbody>
<%= render plan.node -%>
  </tbody>
</table>
